html, body {
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-flow: column wrap;
}

p {
  color: #FF0000;
}

h1 {
  font-size: 100px;
}

button {
  cursor: pointer;
}
